blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.1
MarkupSafe==2.1.5
python-docx==1.1.2
tqdm==4.66.4
typing_extensions==4.11.0
Werkzeug==3.0.3
google-genai==2.6.0
python-dotenv==1.2.2
requests==2.34.2